<footer class="site-footer" id="contact">
  <div class="footer-container">

    <div class="footer-column">
      <div class="footer-title-box">
        <h4>ABOUT US</h4>
      </div>
      <p>
        Berdiri pada tahun 2025, Saji Kitchen hadir sebagai jawaban atas berbagai momen kecewa karena kudapan yang jauh dari harapan. Berawal dari dapur rumahan sederhana, Saji Kitchen punya satu misi untuk menciptakan hidangan yang memuaskan dan membahagiakan.
      </p>
      <p>
        Selamat menikmati Saji-an kami dan selamat datang di keluarga besar Saji Kitchen!
      </p>
    </div>

    <div class="footer-column">
      <div class="footer-title-box">
        <h4>INFORMATION</h4>
      </div>
      <ul class="footer-links">
        <li><a href="#service">Why Choose Us?</a></li>
        <li><a href="#menu">Our Menu</a></li>
        <li><a href="#gallery">Gallery</a></li>
      </ul>
    </div>

    <div class="footer-column">
      <div class="footer-title-box">
        <h4>CONTACT US</h4>
      </div>
      <p>
        Jl. Intan 3, Griya Ma'wa Blok C3 No. 16, Gunung Sindur<br>
        Bogor, Jawa Barat 16340<br>
        Indonesia
      </p>
      <p>+62 851 5741 3383</p>
      <p><a href="mailto:sajikitchenid@gmail.com">sajikitchenid&#64;gmail.com</a></p>

      <div class="social-icons">
        <a [href]="api_instagram" target="_blank" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a>
        <a [href]="api_x" target="_blank" aria-label="X Twitter"><i class="fa-brands fa-x-twitter"></i></a>
        <a href="#" aria-label="TikTok"><i class="fa-brands fa-tiktok"></i></a>
      </div>
    </div>
  </div>
</footer>
