<nav>
  <div class="nav__header">
    <div class="nav__logo">
      <a href="#" class="logo">
        <span>Saji Kitchen</span>
      </a>
    </div>
    <div class="nav__menu__btn" id="menu-btn">
      <i class="ri-menu-line"></i>
    </div>
  </div>
  <ul class="nav__links" id="nav-links">
    <li><a href="#home">Home</a></li>
    <li><a href="#service">Our Services</a></li>
    <li><a href="#menu">Our Menu</a></li>
    <li><a href="#gallery">Our Gallery</a></li>
    <li><a href="#maps">Our Location</a></li>
    <li><a href="#contact">Contact Us</a></li>
  </ul>
</nav>
