<nav [class.scrolled]="isScrolled">
  <div class="nav__container">
    <div class="nav__logo">
      <a href="#" class="logo">
        <img src="assets/saji_kitchen.png" alt="Saji Kitchen Logo">
        <span>Saji Kitchen</span>
      </a>
    </div>

    <div class="nav__header">
      <div class="nav__menu__btn" (click)="toggleMenu()">
        <i class="ri-menu-line"></i>
      </div>
    </div>

    <ul class="nav__links" [class.open]="isMenuOpen">
      <li (click)="closeMenu()"><a href="#home">Home</a></li>
      <li (click)="closeMenu()"><a href="#menu">Menu</a></li>
      <li (click)="closeMenu()"><a href="#review">Review</a></li>
      <li (click)="closeMenu()"><a href="#gallery">Gallery</a></li>
      <li (click)="closeMenu()"><a href="#contact">Contact Us</a></li>
    </ul>

    <div class="nav__btns">
      <div class="nav__btn" (click)="orderWhatsapp()">
        Pesan Sekarang
      </div>
    </div>
  </div>
</nav>
