header {
  background: var(--primary-color);
  margin-top: 0;
}

@media (width > 768px) {
  header.scrolled {
    transition: background-color 0.3s ease, box-shadow 0.3s ease, padding-block 0.3s ease;
  }
}
