.download__container {
    background-color: rgba(245, 71, 72, 0.05);
    overflow: hidden;
}

.download__container .section__container {
    padding-block: 2rem 0;
    display: grid;
    gap: 2rem;
}

.download__image img {
    max-width: 550px;
    margin-inline: auto;
}

.download__content {
    padding-block: 2rem;
}

.download__content .section__header {
    margin-bottom: 2rem;
}

.download__content .section__description {
    margin-bottom: 2rem;
}

@media (width > 768px) {
    .download__container .section__container {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }

    .download__image {
        grid-area: 1/2/2/3;
    }

}