<section class="hero-section" id="home">
  <div class="hero-content">
    <div class="left-section">
      <div class="title-hero">
        Bukan Cuma Umami, <br> <span class="subtitle-hero">Tapi Juga Bikin Happy!</span>
      </div>

      <div class="description-hero">
        <h2 class="description-hero__title">
          Dimsum tebal dengan isian lebih dari 80% daging ayam dengan saus mentai tobiko hadir untuk kamu!✨
        </h2>
        <p class="description-hero__tagline">
          Meaty - Creamy - Umami!
        </p>
      </div>

      <div class="button-hero">
        <div class="menu-button">
          <a href="#menu">
            Our Menu
          </a>
        </div>
        <div class="about-button">
          <a href="#contact">
            About Us
          </a>
        </div>
      </div>
    </div>
    <div class="right-section">
      <img src="assets/dimsum-hero.png" class="dimsum-image" alt="header"/>
      <img src="assets/leaf-hero.png" class="leaf-image" alt="header"/>
      <img src="assets/leaf-hero.png" class="leaf-image-2" alt="header"/>
    </div>
  </div>
</section>
