<div class="home" id="home">
  <div class="left-section">
    <div class="title-hero">
      Bukan cuma umami, tapi juga bikin happy!
    </div>

    <div class="description-hero">
      <h2 class="description-hero__title">
        Dimsum tebal dengan isian lebih dari 80% daging ayam dengan saus mentai tobiko hadir untuk kamu!✨
      </h2>
      <p class="description-hero__tagline">
        Meaty - Creamy - Umami!
      </p>
    </div>

    <div class="button-hero">
      <div class="menu-button">
        Our Menu
      </div>
      <div class="about-button">
        About Us
      </div>
    </div>
  </div>

  <div class="right-section">
    <img src="assets/dimsum-transparent.png" alt="header" />
  </div>
</div>
