<div class="service" id="service">
  <div class="service-title">
    <p style="font-size: 25px">Why Choose Us</p>
  </div>

  <div class="service-content">
    <div class="card-container">
      <div class="card-image">
        <img src="assets/produksi_terjamin.svg" alt="" />
      </div>

      <div class="card-title">
        Kualitas Adalah Prioritas
      </div>

      <div class="card-description">
        Dari pemilihan daging hingga proses pengolahan, kami lakukan setiap langkahnya dengan penuh perhatian. Fresh from our kitchen to your table!
      </div>
    </div>

    <div class="card-container">
      <div class="card-image">
        <img src="assets/bahan_berkualitas.svg" alt="" />
      </div>

      <div class="card-title">
        Saus Mentai Signature Saji Kitchen
      </div>

      <div class="card-description">
        Saus yang diracik khusus untuk menciptakan perpaduan umami yang bikin nagih. Fix, bukan saus biasa!
      </div>
    </div>

    <div class="card-container">
      <div class="card-image">
        <img src="assets/mudah_dipesan.svg" alt="" />
      </div>

      <div class="card-title">
        Tinggal klik, langsung sampai
      </div>

      <div class="card-description">
        Klik, bayar, santai! Pesananmu akan meluncur secepat kilat!
      </div>
    </div>
  </div>
</div>
