.service__container .section__subheader {
  text-align: center;
}

.service__container .section__header {
  margin-bottom: 4rem;
  max-width: 600px;
  margin-inline: auto;
  text-align: center;
}

.service__grid {
  display: grid;
  gap: 2rem 1rem;
}

.service__card img {
  max-width: 175px;
  height: 273px;
  margin-inline: auto;
  margin-bottom: 2rem;
}

.service__card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text-dark);
  text-align: center;
}

.service__card p {
  max-width: 275px;
  margin-inline: auto;
  color: var(--text-light);
  text-align: center;
  line-height: 1.75rem;
}

@media (width > 540px) {
  .service__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width > 768px) {

  .service__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
