img {
  max-width: 144px;
  max-height: 98px;
  margin: auto;
}

.service {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: auto;
  min-height: 100vh;
  padding: 4rem 1.5rem;
  background: linear-gradient(180deg,
    #fff3d9,
    #fffdf9);
}

.service-title {
  text-align: center;
  margin-bottom: 3rem;
  color: var(--red);
}

.service-title p {
  font-size: 1.75rem;
  font-weight: 700;
}

.service-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}

.card-container {
  display: flex;
  flex-direction: column;
  //box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  width: 100%;
  max-width: 399px;
  height: 505px;
  border-radius: 12px;
  padding: 2rem 1.5rem;
  text-align: center;
  gap: 1rem;
  justify-content: space-around;
  align-items: center;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  position: relative;
}

.service-1 {
  background: url(../../../assets/quality.png) no-repeat;
}

.service-2 {
  background: url(../../../assets/mentai.png) no-repeat;
}

.service-3 {
  background: url(../../../assets/click.png) no-repeat;
}

.card-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 36px;
  width: 369px;
  height: 294px;
  position: absolute;
  bottom: 50px;
}

.card-container.is-visible {
  opacity: 1;
  transform: translateY(0);
}

.card-container .card-title {
  font-size: 20px;
  font-weight: 700;
  color: var(--red);
  margin-bottom: 14px;
}

.card-container .card-description {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  max-width: 250px;
  height: 120px;
  align-content: flex-start;
}

@media (min-width: 576px) {
  .service {
    justify-content: center;
    height: 100vh;
    padding: 2rem;
  }

  .service-content {
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }

  .card-container {
    padding: 1.5rem;
  }
}
