<div class="service" id="service">
  <div class="service-title">
    <p style="font-size: 25px">WHY CHOOSE OUR FOOD?</p>
  </div>

  <div class="service-content">
    <div class="card-container service-1" appScrollAnimation [animationDelay]="'0s'">
      <div class="card-box">
        <div class="card-title">
          Kualitas Adalah Prioritas
        </div>
        <div class="card-description">
          Dari pemilihan daging hingga proses pengolahan, kami lakukan setiap langkahnya dengan penuh perhatian. Fresh
          from our kitchen to your table!
        </div>
      </div>
    </div>

    <div class="card-container service-2" appScrollAnimation [animationDelay]="'0.2s'">
      <div class="card-box">
        <div class="card-title">
          Saus Mentai Signature
        </div>
        <div class="card-description">
          Saus yang diracik khusus untuk menciptakan perpaduan umami yang bikin nagih. Fix, bukan saus biasa!
        </div>
      </div>
    </div>

    <div class="card-container service-3" appScrollAnimation [animationDelay]="'0.4s'">
      <div class="card-box">
        <div class="card-title">
          Click and Chill
        </div>
        <div class="card-description">
          Klik, bayar, santai! Pesananmu akan meluncur secepat kilat!
        </div>
      </div>
    </div>
  </div>
</div>
