<section class="menu-section" id="menu">
  <div class="section-title">
    <h2>OUR MENU</h2>
  </div>

  <div class="menu-item">

    <div class="menu-image" appFadeinAnimation>
      <img src="assets/dimsum-menu.png" alt="Dimsum Mentai Saji Kitchen">
    </div>

    <div class="menu-details" appFadeinAnimation>
      <div class="menu-header">
        <h3 class="menu-name">Dimsum Mentai</h3>
        <p class="menu-price">25 K [6pcs]</p>
      </div>
      <p class="menu-description">
        Indulge in our tender and juicy chicken dimsum, packed with savory umami flavor and generously topped with a creamy tobiko mentai sauce, torched to perfection.
      </p>
      <button class="order-button">ORDER NOW</button>
    </div>

  </div>
</section>
