/* Hero Section CSS */
.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 2rem;
  gap: 2rem;
  background-image: url("../../../assets/offset-blobs.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.hero-image {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.hero-image img {
  max-width: 300px;
  width: 100%;
  height: auto;
  border-radius: 1rem;
  display: block;
  transform: scale(1.5);
}

.hero-text {
  flex: 1;
}

@media (max-width: 768px) {
  .hero-section {
    flex-direction: column;
    text-align: center;
  }
  .hero-image {
    margin-top: 1.5rem;
  }
}
