<section class="section__container hero-section">
  <div class="hero-image">
    <img src="../../../assets/dimsum-transparent.png" alt="">
  </div>
  <div class="hero-text">
    <p class="section__subheader">OUR BEST SELLER MENU</p>
    <h2 class="section__header">Menu That Always Makes You Fall In Love</h2>
    <p style="margin-top: 24px;">Rasakan kenikmatan dimsum premium dengan komposisi daging lebih dari 80% dan saus mentai yang creamy dan lezat. Dicampur dengan tobiko yang membuat pengalaman makan Anda menjadi tidak terlupakan di setiap gigitan nya.</p>
  </div>
</section>
