.client__container {
  display: grid;
  gap: 2rem;
  overflow: hidden;
}

.client__image img {
  max-width: 550px;
  margin-inline: auto;
}

.client__content .section__header {
  margin-bottom: 2rem;
}

.client__content .section__description {
  margin-bottom: 2rem;
  font-size: 1.1rem;
}

.client__details {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.client__details img {
  max-width: 50px;
  border-radius: 100%;
}

.client__details h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.client__details h5 {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-light);
}

.client__rating {
  display: flex;
  align-items: center;
  gap: 10px;
}

.client__rating span {
  font-size: 1.2rem;
  color: goldenrod;
}

.client__rating span:last-child {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-dark);
}

@media (width > 768px) {
  .client__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}